section.fail
  .container.fail__container
    .row.justify-content-center
      .col-24.col-md-14.col-lg-20.text-center
        h2.heading.fail__heading!=content.index.fail.heading
    .row
      .col-24.col-md-14.col-lg-12
        .fail__info
          .fail__title!=content.index.fail.title
          .fail__text!=content.index.fail.text
          button.button.fail__btn!=content.index.fail.btn  
            i.ic.ic--fail
      .col-md-10.col-lg-12.col-xl-11.offset-xl-1.hidden-sm-down    
        .fail__image
          img(src!=content.index.fail.img.src, alt!=content.index.fail.img.alt)
    .row.justify-content-center.fail__row.fail__row--hidden
      each item, i in content.index.fail.content  
        .col-12.col-md-6
          .fail__box       
            .fail__icon
              img.img-fluid(src!=item.img.src, alt!=item.img.alt)
            .fail__descr!=item.text    