#sibassa__modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .row.justify-content-center.align-items-stretch
        .col.align-self-end
        .col
          form.contactForm(method="POST", action="mail/mail.php")
            .tabs
              each item, i in content.site.modal.test1.tabs.items
                .tabs__item(class={"tabs__item--active" : i === 0})
                  if (item.icon)
                    i(class=item.icon)
                  h2!= item.heading
                  .progressbar
                    .progresbar__status
                      span.progressbar__value!= ~~(100 / (content.site.modal.test1.tabs.items.length - 1) * i)
                  if (item.slides)
                    .slides
                      .slides__item
                          input.slides__control(type="text", name=item.slides.name, data-provide="slider", data-slider-min=item.slides.minPostion, data-slider-max=item.slides.maxPostion, data-slider-step=item.slides.step, data-slider-value=item.slides.value, data-slider-tooltip="hide")
                  if (item.descr)
                    .tabs__text!= item.descr
                  if (item.btns)
                    .button-group
                      if (item.btns.prev)
                        button.button.fail__btn(href="#", data-tabs-control="prev")!= item.btns.prev.text
                          if (item.btns.prev.icon)
                            i(class=item.btns.prev.icon)
                      if (item.btns.next)
                        button.button.fail__btn(href="#", data-tabs-control="next")!= item.btns.next.text
                          if (item.btns.next.icon)
                            i(class=item.btns.next.icon)
                  if (item.radiobtns)
                    .row
                      each radio, i in item.radiobtns
                        .col
                          img.radiobtns__img.img-fluid(src=radio.img.src, alt=radio.img.alt)
                          .radiobtns
                            input.radiobtns__control(id="radio" + (i + 1), type="radio", name=radio.name, value=radio.value)
                            label.radiobtns__label(for="radio" + (i + 1))!= radio.value
                  if (item.formGroup)
                    if (item.formGroup.select)
                      select(name=item.formGroup.select.name)
                    if (item.formGroup.inputs)
                      each input in item.formGroup.inputs
                        .form-group
                          input(type=input.type, name=input.name, placeholder=input.placeholder)
                    if (item.formGroup.submit)
                      button(type="submit")!= item.formGroup.submit.text
                        i(class=item.formGroup.submit.icon)

