#sibassa__modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-dialog.modal__test--size
    .modal-content.modal__test
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        svg(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30')
          metadata
            x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ')
              rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
                rdf:description(rdf:about='')
          defs
          path.modal__close--icon(d='M1199.01,185.281l-0.72.732L1184,171.37l-14.29,14.643-0.72-.732,14.3-14.644-13.58-13.911,0.71-.732L1184,169.905l13.58-13.911,0.71,0.732-13.58,13.911Z', transform='translate(-1169 -156)')
      .test
        .row.justify-content-center.align-items-stretch
          .col.align-self-end
            .main-example
              .timer(class="countdown-container", id="main-example")

          .col.col-16 
            form.contactForm(method="POST", action="mail/mail.php")
              .tabs.test__tabs
                each item, i in content.site.modal.test1.tabs.items
                  .tabs__item(class={"tabs__item--active" : i === 0})
                    if (item.icon)
                      i(class=item.icon)
                    h2.test__heading!= item.heading
                    .progressbar
                      .progressbar__status
                        span.progressbar__value(class={"progressbar__value--hidden" : i === 0})!= ~~(100 / (content.site.modal.test1.tabs.items.length - 1) * i) + "%"

                    if (item.slides)
                      .slides
                        p.slides__info.info
                          i.info__icon(class=item.slides.info.icon)
                          != item.slides.info.text
                        .slides__item
                          input.slides__control(id=item.slides.id, type="text", name=item.slides.name)
                    if (item.descr)
                      .tabs__text!= item.descr
                    if (item.radiobtns)
                      .row
                        each radio, i in item.radiobtns
                          .col-8.text-center
                            img.radiobtns__img.img-fluid(src=radio.img.src, alt=radio.img.alt)
                            .radiobtns
                              input.radiobtns__control(id="radio" + (i + 1), type="radio", name=radio.name, value=radio.value, checked={"checked" : i === 0})
                              label.radiobtns__label(for="radio" + (i + 1))
                                span.radiobtns__check
                                != radio.value  
                    if (item.btns)
                      .button-group.text-center
                        if (item.btns.prev)
                          if (i > 0)
                            button.button.test__btn(class=item.btns.prev.class, href="#", data-tabs-control="prev")!= item.btns.prev.text
                              if (item.btns.prev.icon)
                                i(class=item.btns.prev.icon)
                        if (item.btns.next)
                          button.button.test__btn(class=item.btns.next.class, href="#", data-tabs-control="next")!= item.btns.next.text
                            if (item.btns.next.icon)
                              i(class=item.btns.next.icon)
                    if (item.formGroup)
                      .row
                        if (item.formGroup.inputs)
                          .form-group.col-12
                            if (item.formGroup.select)
                              select.select.select--dropdown(name=item.formGroup.select.name)
                                each option in item.formGroup.select.options
                                  option(value=option.text, data-content='<i class="' + option.icon + '"></i>')!= option.text
                            each input in item.formGroup.inputs
                              input(type=input.type, name=input.name, placeholder=input.placeholder)
                        if (item.formGroup.submit)
                          .form-group.col-12
                            button.test__btn.form__btn.test__btn--submit(type="submit")!= item.formGroup.submit.text
                              i(class=item.formGroup.submit.icon)
#estimate.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-dialog.modal__test--size
    .modal-content.modal__test
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        svg(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30')
          metadata
            x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ')
              rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
                rdf:description(rdf:about='')
          defs
          path.modal__close--icon(d='M1199.01,185.281l-0.72.732L1184,171.37l-14.29,14.643-0.72-.732,14.3-14.644-13.58-13.911,0.71-.732L1184,169.905l13.58-13.911,0.71,0.732-13.58,13.911Z', transform='translate(-1169 -156)')
      .test
        .row
          .col-24.col-lg-9.d-flex.align-items-end.justify-content-center
            .test__container
              .test__image
                img(src="img/blank.png")
              .test__count--heading Осталсь времени:
              #count
          .col-24.col-lg-15
            form.contactForm(method="POST", action="mail/mail.php")
              .tabs.test__tabs
                each item, i in content.site.modal.test2.tabs.items
                  .tabs__item(class={"tabs__item--active" : i === 0})
                    if (item.icon)
                      i(class=item.icon)
                    h2.test__heading!= item.heading
                    .progressbar
                      .progressbar__status
                        span.progressbar__value(class={"progressbar__value--hidden" : i === 0})!= ~~(100 / (content.site.modal.test2.tabs.items.length - 1) * i) + "%"
                    if (item.slides)
                      .slides
                        p.slides__info.info
                          i.info__icon(class=item.slides.info.icon)
                          != item.slides.info.text
                        .slides__item
                          input.slides__control(id=item.slides.id, type="text", name=item.slides.name)
                    if (item.descr)
                      .tabs__text!= item.descr
                    if (item.radiobtns)
                      .row
                        each radio, i in item.radiobtns
                          .col
                            img.radiobtns__img.img-fluid(src=radio.img.src, alt=radio.img.alt)
                            .radiobtns
                              input.radiobtns__control(id="radio1" + (i + 1), type="radio", name=radio.name, value=radio.value, checked={"checked" : i === 0})
                              label.radiobtns__label(for="radio1" + (i + 1))
                                span.radiobtns__check
                                != radio.value
                    if (item.btns)
                      .button-group.text-center
                        if (item.btns.prev)
                          if (i > 0)
                            button.button.test__btn(class=item.btns.prev.class, href="#", data-tabs-control="prev")!= item.btns.prev.text
                            if (item.btns.prev.icon)
                              i(class=item.btns.prev.icon)
                        if (item.btns.next)
                          button.button.test__btn(class=item.btns.next.class, href="#", data-tabs-control="next")!= item.btns.next.text
                            if (item.btns.next.icon)
                              i(class=item.btns.next.icon)
                    if (item.formGroup)
                      if (item.formGroup.select)
                        select(name=item.formGroup.select.name)
                      if (item.formGroup.inputs)
                        each input in item.formGroup.inputs
                          .form-group
                            input(type=input.type, name=input.name, placeholder=input.placeholder)
                      if (item.formGroup.submit)
                        button.test__btn.form__btn.test__btn--submit(type="submit")!= item.formGroup.submit.text
                          i(class=item.formGroup.submit.icon)
each item, i in content.index.product.modals
  .modal.fade(id="product__modal"+(i+1) tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog.product__modal--size
      .modal-content.modal__content
        button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
          svg(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30')
            metadata
              x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ')
                rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
                  rdf:description(rdf:about='')
            defs
            path.modal__close--icon(d='M1199.01,185.281l-0.72.732L1184,171.37l-14.29,14.643-0.72-.732,14.3-14.644-13.58-13.911,0.71-.732L1184,169.905l13.58-13.911,0.71,0.732-13.58,13.911Z', transform='translate(-1169 -156)')
        .product__modal
          .product__modal--heading!=item.heading
          .product__modal--box
            .row
              .col-24.col-md-18
                .row
                  each point, i in item.points
                    .col-24.col-md-12
                      .product__modal--point
                        i.ic(class!=point.icon)  
                        .product__modal--elem!=point.text
              .col-24.col-md-6  
                .product__modal--point.product__modal--pointlast
                  i.ic(class!=item.lastpoint.icon) 
                  .product__modal--elem!=item.lastpoint.text
          .product__modal--table
            each row, i in item.rows
              .row.product__modal--row
                .col-24.col-md-12
                  .product__modal--left!=row.textl
                .col-24.col-md-12
                  .product__modal--right!=row.textr  
          .product__modal--images
            .row.justify-content-center
              each image, i in item.images
                .col-24.col-md-7.col-lg-6
                  .product__modal--image
                    i.ic(class!=image.icon)
                  .product__modal--subtext!=image.text
          form.contact__form.contactForm.product__modal--form(method='post', action='./mail/mail.php')
            .row
              .col-24.col-md-12.form__group
                input.form-control.form__input.product__modal--input.form__phone(aria-invalid='false', placeholder="Телефон", name='phone', type='tel', data-error='Введите телефон', required)
              .col-24.col-md-12
                button.button.form__btn.product__modal--btn(name='form', value='динамика цен', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...")!=item.form.btn
                  i.ic.ic--apple
              .col-24
                .form__confident.form__confident--dark!=content.index.self.form.confident
#call__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size 
    .modal-content.modal__content.modal__content--header
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        svg(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30')
          metadata
            x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ')
              rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
                rdf:description(rdf:about='')
          defs
          path.modal__close--icon(d='M1199.01,185.281l-0.72.732L1184,171.37l-14.29,14.643-0.72-.732,14.3-14.644-13.58-13.911,0.71-.732L1184,169.905l13.58-13.911,0.71,0.732-13.58,13.911Z', transform='translate(-1169 -156)')
      .modal__heading!=content.index.header.modal.heading
        i.ic.ic--headingborderrightblack.heading__icon
      form.contact__form.contactForm.contactForm--modal(method='post', action='./mail/mail.php')
        .row.justify-content-center
          .col-22.form-group
            input.form-control.form__input.form__input--transparent.form__phone(aria-invalid='false', placeholder="Телефон", name='phone', type='tel', data-error='Введите телефон', required)
          .col-22
            div
              .row.justify-content-between
                .col-24.col-md-12
                  .checkbox-btn
                    input#period-1.checkbox-btn__control(type='radio', name='period[]', value='Сейчас', checked)
                    label.checkbox-btn__box(for='period-1') Сейчас
                .col-24.col-md-12
                  .checkbox-btn
                    input#period-2.checkbox-btn__control(type='radio', name='period[]', value='По времени')
                    label.checkbox-btn__box(for='period-2') По времени
          .col-22
            div
              input.form-control.form__input.modal__input.form__time(aria-invalid='false', placeholder="Например: завтра в 12:00", name='time', type='text', data-error='Введите, когда вам позвонить')
              p.help-block.with-errors
          .col-22    
            button.button.form__btn.self__btn.modal__btn(name='form', value='модалка в хедере', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Заказать звонок эксперта
              i.ic.ic--apple
          .col-22
            .form__confident!=content.index.self.form.confident                                  
