section.product
  .container
    .row.justify-content-center
      .col-24.text-center
        h2.heading.product__heading!=content.index.product.heading
    .row
      each item, i in content.index.product.content    
        .col-24
          .product__info
            .product__item
              .product__garant.d-flex.align-items-end.justify-content-center
                .product__text!=item.text
              .row
                .col-24.col-md-13.offset-md-1.col-lg-15.offset-lg-3
                  .product__image
                    img.img-fluid(src!=item.img.src, alt!=item.img.alt)
                .col-22.offset-1.col-md-8.offset-md-1.col-lg-5.offset-lg-0
                  .product__box
                    .product__cost!=item.cost
                    .product__name!=item.name
                    .product__weight!=item.weight
                    button.button.product__btn(data-toggle="modal", data-target!=item.btn.target)
                      !=item.btn.text