header.header.header--success
  .container.success__container
    .row.justify-content-between
      .col-24.col-md-14.col-lg-10.col-xl-8
        .logo.header__logo
          .row
            .col-24.col-sm-9.col-md-8.col-lg-7.text-center
              a.logo__link
                img.img-fluid.logo__img(src!=content.index.header.logo.src, alt!=content.index.header.logo.alt)
            .col-24.col-sm-15.col-md-16.col-lg-17
              .logo__text!=content.index.header.logo.text
      .col-24.col-md-10.col-lg-7.col-xl-6
        .contact
          .contact__box
            a.contact__phone(href!=content.index.header.contact.phone.href)  
              i.ic.ic--phone
              .contact__number!=content.index.header.contact.phone.text
    .row.success__row               
      .col-24.align-self-center
        .test
          .row.justify-content-center.align-items-stretch
            .col-24
              form.contactForm(method="POST", action="mail/mail.php")
                .tabs.test__tabs
                  each item, i in content.site.modal.test1.tabs.items
                    .tabs__item(class={"tabs__item--active" : i === 0})
                      if (item.icon)
                        i(class=item.icon)
                      h2.testo__heading
                        | Пройдите тест за 1 минуту и узнайте стоимость самостоятельного изготовления и установки откатных ворот
                      .progressbar
                        .progressbar__status
                          span.progressbar__value(class={"progressbar__value--hidden" : i === 0})!= ~~(100 / (content.site.modal.test1.tabs.items.length - 1) * i) + "%"

                      if (item.slides)
                        .slides
                          p.slides__info.info
                            i.info__icon(class=item.slides.info.icon)
                            != item.slides.info.text
                          .slides__item
                            input.slides__control(id=item.slides.id, type="text", name=item.slides.name)
                      if (item.descr)
                        .tabs__text!= item.descr
                      if (item.radiobtns)
                        .row
                          each radio, j in item.radiobtns
                            .col-8.text-center
                              label(for="radio" + (j + 1))
                                img.radiobtns__img.img-fluid(src=radio.img.src, alt=radio.img.alt)
                              .radiobtns
                                if (j === 0)
                                  input.radiobtns__control(id="radio" + (j + 1), type="radio", name=radio.name, value=radio.value, checked)
                                else
                                  input.radiobtns__control(id="radio" + (j + 1), type="radio", name=radio.name, value=radio.value)
                                label.radiobtns__label(for="radio" + (j + 1))
                                  span.radiobtns__check
                                  != radio.value  
                      if (item.btns)
                        .button-group.text-center
                          if (item.btns.prev)
                            if (i > 0)
                              button.button.test__btn(class=item.btns.prev.class, href="#", data-tabs-control="prev")
                                .test__btn--text!= item.btns.prev.text
                                if (item.btns.prev.icon)
                                  i(class=item.btns.prev.icon)
                          if (item.btns.next)
                            button.button.test__btn(class=item.btns.next.class, href="#", data-tabs-control="next")
                              .test__btn--text!= item.btns.next.text
                              if (item.btns.next.icon)
                                i(class=item.btns.next.icon)
                      if (item.formGroup)
                        .row
                          if (item.formGroup.inputs)
                            .form-group.form-group--relative.col-21.offset-3.col-md-11.offset-md-1
                              i.ic.ic--arrowvniz
                              if (item.formGroup.select)
                                select.select.select--dropdown(name=item.formGroup.select.name)
                                  each option in item.formGroup.select.options
                                    option(value=option.text, data-content='<i class="' + option.icon + '"></i><span class="select2__info">'+ option.text +'</span>')!= option.text
                              each input in item.formGroup.inputs
                                input.form-control.form__input.form__phone.form__input--phone(type=input.type,  name=input.name, placeholder="+38 (___) ___-__-__", data-error="Введите телефон", required)
                          if (item.formGroup.submit)
                            .form-group.col-24.col-md-12
                              button.test__btn.form__btn.test__btn--submit(type="submit", name='form', value='Чертеж')!= item.formGroup.submit.text
                                i(class=item.formGroup.submit.icon)